@import "animation";

.advert {
    @extend .animationA;
    text-shadow: 4px 2px 4px rgba(65, 64, 63, 0.863);


}



.dogBuying {
    @extend .imgCover;
}

.presentation {
    @extend .animationB;
    padding-top: 5%;
    padding-bottom: 5%;
}

.littleBeds {
    display: flex;
    flex-direction: column;


    div {
        @extend .fCC;
        width: $max;


        h3 {
            text-decoration: underline;
            padding-top: 150px;
            margin-bottom: 50px;
            @extend .lGradient;
            box-shadow: 2px 3px 2px black;
        }

        picture {
            img:nth-child(2) {
                height: 70px;
                width: 70px;
                @extend .animationB;
                
                       }

            img {
                @extend .imgCover;
            }
        }




    }
}

.socialMedia {
    margin-top: 50px;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;

    a {
           padding-bottom: 12px;
        }
   
        img {
            width: 40px;


            &:hover {
                scale: 1.3;
                transition: 3ms;
                transform: skewY(-5deg);
                transition-timing-function: ease-in;
            }
        }
    }
