.fCC, .littleBeds div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lGradient, .littleBeds div h3, header nav ul li a:hover:focus {
  background-image: linear-gradient(rgb(255, 231, 110), rgba(255, 217, 110, 0.815), rgb(255, 230, 110));
}

.imgCover, .littleBeds div picture img, .dogBuying {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

header nav ul {
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header nav ul li {
  padding: 7px;
  display: flex;
  justify-content: center;
}
header nav ul li img {
  width: 50px;
  border-radius: 100%;
  margin-right: 32px;
  margin-left: 32px;
}
header nav ul li a:hover {
  transform: scale(1.3);
  transition: 3ms;
}
header nav ul li a:hover:focus {
  cursor: progress;
  width: 100%;
  transition: all 5ms;
  text-decoration: underline;
}

.animationA, .advert {
  text-align: center;
  padding: 18px;
  font-size: 22px;
  -webkit-animation: 3s propaganda;
          animation: 3s propaganda;
  text-shadow: 1px 1px 3px gray;
}

@-webkit-keyframes propaganda {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes propaganda {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.animationB, .littleBeds div picture img:nth-child(2), .presentation {
  -webkit-animation: products infinite 4s;
          animation: products infinite 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  padding: 7px;
  text-align: center;
}

@-webkit-keyframes products {
  0% {
    transform: translateY(1px);
  }
  50% {
    text-shadow: 2px 4px 2px gray;
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
    text-shadow: 2px 4px 2px gray;
  }
}

@keyframes products {
  0% {
    transform: translateY(1px);
  }
  50% {
    text-shadow: 2px 4px 2px gray;
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
    text-shadow: 2px 4px 2px gray;
  }
}
.advert {
  text-shadow: 4px 2px 4px rgba(65, 64, 63, 0.863);
}

.presentation {
  padding-top: 5%;
  padding-bottom: 5%;
}

.littleBeds {
  display: flex;
  flex-direction: column;
}
.littleBeds div {
  width: 100%;
}
.littleBeds div h3 {
  text-decoration: underline;
  padding-top: 150px;
  margin-bottom: 50px;
  box-shadow: 2px 3px 2px black;
}
.littleBeds div picture img:nth-child(2) {
  height: 70px;
  width: 70px;
}
.socialMedia {
  margin-top: 50px;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
.socialMedia a {
  padding-bottom: 12px;
}
.socialMedia img {
  width: 40px;
}
.socialMedia img:hover {
  scale: 1.3;
  transition: 3ms;
  transform: skewY(-5deg);
  transition-timing-function: ease-in;
}/*# sourceMappingURL=main.css.map */